## gradle
.gradle/
## ForgeGradle
/run

## binaries
bin/

## eclipse
eclipse/
.settings/
.classpath
.project
/bin
options.txt

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
saves/
logs/
config/
crash-reports/
BotaniaVars.dat
usernamecache.json
