/gradle
/build
/MinecraftForge-Credits.txt
/README.md
/MinecraftForge-License.txt
/README.txt
/setup.bat
/LICENSE
/LICENSE-fml.txt
/gradlew
/eclipse.bat
/forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
/CREDITS-fml.txt
/idea.bat
/gradlew.bat
## gradle
.gradle/
gradle.properties
## ForgeGradle
/run

## binaries
bin/

## eclipse
eclipse/
.settings/
/eclipse/config/botaniaenergistics.cfg
.classpath
.project
/bin
options.txt
/libs/pylon.obj
/libs/runeAltar0.png
/libs/MECable_Lime.png
/libs/runeAltar1.png
/libs/runeAltar2.png

## intellij
/out
/.idea
.idea/
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## Minecraft
saves/
logs/
crash-reports/

## Mods
config/
BotaniaVars.dat
usernamecache.json
/Botanic-Energistics.iws
/Botanic-Energistics.iml
/Botanic-Energistics.ipr
